/*Be sure to add semicolon per line!*/

li {
    list-style: none;
}

body {
    border: 5px solid white;
}

.header {
    padding-top: 40px;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    
}



.header h1 {
    position: relative;
    font-size: 60px;
    color: aliceblue;
    padding-left: 5px;
    text-decoration-line: underline;
    text-decoration-color:rgb(251, 213, 98);
    text-decoration-thickness: 3px;
    border-left: solid;
    
    border-color: rgb(251, 213, 98);
    bottom: 50%;
}

.header h2 {
    color: aliceblue;
}

.navbar {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
    color:aliceblue;
}

.navbar a {
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
    color:whitesmoke;
}


.navbar a:hover {
    text-decoration: none;
    color: rgb(235, 215, 107)
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.about {
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
    color: whitesmoke;

}
